/* Box border highlight */
.border-highlight {
    
     @apply w-full rounded-lg p-2 h-10 focus:outline-none focus:ring-2 bg-white border border-gray-300;
}

.border-highlight-NewHoverComponent {
    
     @apply  rounded-lg p-2  border border-blue-500; 



}


/* It highlight box after selecting value*/
.border-highlight.selected {
  @apply bg-blue-100 border-blue-500;  /*for more details check country selection dropdown or travel date from visa*/
}

/*Lable size and font this is not for h1-h2-h3 or any header*/
.label-style{
  @apply font-medium text-gray-600 mb-0.5 block;          
  /*@apply font-medium text-gray-700 mb-1               This font style for label inside Customer Details */
}


.option-highlight {
  @apply flex items-center gap-2 flex-1 cursor-pointer rounded-md px-1;
}

.option-highlight-active {
  @apply bg-blue-100 border border-blue-500;
}

.option-highlight-inactive {
  @apply bg-white border border-transparent;
}

.custom-select {
  height: 38px;              /* total height to match react-select */
  line-height: 38px;         /* vertically center text */
  padding: 0 8px;            /* same left/right spacing */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
       /* optional: remove OS dropdown styling */

                    /* removes native arrow */
 
}